// Variables
$highlight: #00fffb;
$text-color: #fff;
$primary-dark: #1e1e26;
$secondary-dark: #292931;
$primary-font: Poppins;
$secondary-font: Raleway;
$fallback-font: Arial, Helvetica, sans-serif;

$transition: all 0.3s linear;

$shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

// Global Attributes

*,
::before,
::after,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.font-primary {
  font-family: $primary-font !important; // Poppins
}

.font-secondary {
  font-family: $secondary-font !important; // Montserrat
}

.primary-dark {
  background-color: $primary-dark !important; // #1E1E26
}

.secondary-dark {
  background-color: $secondary-dark !important; // #292931
}

.text-highlight {
  color: $highlight !important; // #00FFFB
}

.text-main {
  color: $text-color !important; // #fff
}

.default-shadow {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
}

// Element Attributes

.navbar {
  // background: rgba(30, 30, 38, 0.5);
  background-color: #1e1e26;

  .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggler {
    color: white;
    border: none;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    &:hover {
      color: $text-color !important;
    }

    .nav-logo {
      width: 55px;
    }

    .brand-title {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }

  .nav-link {
    font-size: 1.5rem;
    font-family: $primary-font !important;
    transition: $transition;
    margin-right: 2rem;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem !important;

    &:hover {
      color: $highlight !important;
      background-color: $secondary-dark;
      // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.96);
    }
  }
}

body {
  background-color: $primary-dark;
  color: $text-color;

  #landing {
    min-height: 600px;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/landing/axpo-cover.jpeg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    .landing-title,
    .landing-subtitle {
      font-weight: normal;
    }

    .landing-title {
      font-size: 64px;
    }

    .landing-subtitle {
      font-size: 30px;
    }

    #description {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icons-container {
        margin-top: 0.5rem;
      }
    }
  }

  main {
    padding: 0 3rem;

    section {
      padding-bottom: 3rem;
    }

    #about {
      display: flex;
      justify-content: center;
      margin-top: -80px;

      .about-card {
        max-width: 800px;
        width: fit-content;

        .about-header {
          background: rgba(30, 30, 38, 0.6);
          padding: 1rem 0;
          border-radius: 1.5rem 1.5rem 0 0;
  
          .about-title {
            font-size: 2.5rem;
            text-align: center;
          }
        }

        .about-content {
          background-color: $secondary-dark;
          padding: 1rem 2rem;
          border-radius: 0 0 1.5rem 1.5rem;
          box-shadow: $shadow;

          .about-article {

            h3 {
              font-size: 2rem;
              margin-bottom: 0.5rem;
            }

            p {
              font-size: 1.2rem;
            }
          }

          .first-about-article {
            margin-bottom: 2.5rem;
          }
        }
      }
    }

    #projects {
      margin-top: 9rem;
      margin-bottom: 4rem;
      
      .projects-container {
        row-gap: 4rem;
      }

      .projects-title {
        text-align: center;
        margin-bottom: 3rem;
      }

      .project-filter {
        margin-bottom: 3rem;

        .project-buttons-container {
          grid-template-columns: auto auto auto;
          gap: 1rem;

          .filter-btn {
            background-color: $secondary-dark;
            border: none;
            padding: 0.5rem 1rem;
            box-shadow: $shadow;
            border-radius: 0.5rem;
            font-family: $primary-font;
            color: white;
            transition: $transition;

            &:hover,
            &:focus {
              color: $highlight;
              transform: scale(1.05);
            }

            &:active {
              transform: scale(0.95);
            }
          }

          .filter-img {
            width: 32px;
          }
        }
      }

      .projects-error {
        text-align: center;
      }

      .project-card {
        width: fit-content;
        max-width: 450px;

        h1 {
          font-size: 2rem;
          margin-bottom: 0.25rem;
        }

        h1,
        .project-date,
        h3 {
          font-weight: normal !important;
        }

        .project-content {
          padding: 1rem;
          background-color: $secondary-dark;
          box-shadow: $shadow;
          border-radius: 0.5rem;

          .project-date {
            font-size: 1.25rem;
            margin-bottom: 1rem;
          }

          .project-img-figure {
            width: 100%;
            max-height: 400px;

            .project-img {
              width: 400px;
            }
          }

          h3 {
            font-size: 1.5rem;
          }

          .project-link {
            font-family: $primary-font;
            color: white;
            border-radius: 0.25rem;
            border: 1px solid $primary-dark;
            font-weight: 500;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            transition: $transition;

            &:hover,
            &:focus {
              transform: scale(1.05);
            }

            &:active {
              transform: scale(0.95);
            }
          }

          .first-link {
            margin-right: 1rem;
          }

          .project-description {
            min-height: 250px;
          }
        }
      }
    }
  }

  #footer {
    background-color: $secondary-dark;
    padding: 1.5rem 0;

    .footer-text {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

.icons-container {
  margin-right: 24px;

  .social-link {
    margin-left: 1rem;
  }

  .social-icon {
    width: 32px;
  }

  .first-icon {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .landing-title {
    font-size: 48px !important;
  }

  .landing-subtitle {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 680px) {
  .landing-title {
    font-size: 36px !important;
  }

  .landing-subtitle {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 485px) {
  .landing-title {
    font-size: 32px !important;
  }

  .landing-subtitle {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 435px) {
  .landing-title {
    font-size: 28px !important;
  }

  .landing-subtitle {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 385px) {
  .landing-title {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 367px) {
  .brand-title {
    font-size: 28px !important;
  }
}

@media screen and (max-width: 340px) {
  .brand-title {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 332px) {
  .landing-title {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 316px) {
  .brand-title {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 290px) {
  .brand-title {
    font-size: 18px !important;
  }
}